<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="{{ site.description }}" name="description">
    <meta content="{{ site.keyword }}" name="keywords">
    <meta content="{{ site.theme-color }}" name="theme-color">

    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

    <!-- Web App Manifest -->
    <link href="{{ site.baseurl }}/js/manifest.json" rel="manifest">

    <!-- Favicon -->
    <link href="{{ site.baseurl }}/img/favicon.ico" rel="shortcut icon">

    <!-- Safari Webpage Icon -->
    <link href="{{ site.baseurl }}/img/icon.png" rel="apple-touch-icon">

    <!-- Canonical URL -->
    <link href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" rel="canonical">

    <!-- Bootstrap Core CSS -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ site.baseurl }}/css/hux-blog.min.css" rel="stylesheet">

    <!-- Pygments GitHub CSS -->
    <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet">

</head>